.track > path {
  fill: none;
  stroke: #607D8B;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-width: 1;
}

.train > path {
  fill: none;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-width: 2;
  transition: all 100ms ease-in-out;
}

.train > path:hover {
  stroke-width: 4;
}
